<h1>Your Cases</h1>
<br />

<p>Cough: <%=@case.cough%></p><br />
<p>Difficulty Breathing: <%=@case.difficulty_breathing%></p><br />
<p>Fever: <%=@case.fever%></p><br />
<p>Chills: <%=@case.chills%></p><br />
<p>Muscle Pain: <%=@case.muscle_pain%></p><br />
<p>Sore Throat: <%=@case.sore_throat%></p><br />
<p>Sudden Loss of Taste or Smell: <%=@case.smell_or_taste_loss%></p><br />

<!--Edit-->
<br />
<a href="/cases/<%=@case.id%>/edit">Edit This Case</a>

<a href="/cases/<%=@case.id%>/delete">Delete Case</a>



<!--Delete-->
