<h1>All Cases</h1>
<br />

<p>Cough: <%=@case.cough%></p><br />
<p>Difficulty Breathing: <%=@case.difficulty_breathing%></p><br />
<p>Fever: <%=@case.fever%></p><br />
<p>Chills: <%=@case.chills%></p><br />
<p>Muscle Pain: <%=@case.muscle_pain%></p><br />
<p>Sore Throat: <%=@case.sore_throat%></p><br />
<p>Sudden Loss of Taste or Smell: <%=@case.smell_or_taste_loss%></p><br />

<!--Edit only if user is the owner of this case-->
<br />

<%if @case.user == current_user%>
  <a href="/cases/new">New Case</a><br />
  <a href="/cases/<%=@case.id%>/edit">Edit Case</a><br />

  <form action="/cases/<%=@case.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="submit" name="" value="Delete Case" />
  </form>

<%end%>






<!--Delete-->
